
/* =============================
 * base
 * =============================*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1.4;
  color: $base-color;
  background-color: #fff;
}

/* =============================
 * row
 * =============================*/

.row {
  width: 100%;
  overflow: hidden;
  padding-left: $default-space;
  padding-right: $default-space;
}

/* =============================
 * container
 * =============================*/

.container {
  width: 940px;

  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-left: $default-space;
  padding-right: $default-space;
}

@media #{$breakpoint_sm} {
  .container {
    width: 600px;
  }
}

@media #{$breakpoint_xs} {
  .container {
    width: auto;
    max-width: 480px;
  }
}

/* =============================
 * links
 * =============================*/

a {
  color: $base-color;
  text-decoration: underline;

  &.btn {
    text-decoration: none;
  }
}

a:active, a:hover {
  outline: 0;
}

/* =============================
 * image
 * =============================*/

img {
  border: 0;
}

/* =============================
 * hr
 * =============================*/

hr {
  border: 1px solid rgba(0, 0, 0, 0.35);
}