
/* =============================
 * base
 * =============================*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  background-color: #fff;
}

section {
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 0px;
  padding: 10px;
  float: left;
  text-transform: uppercase;
}

/* =============================
 * row
 * =============================*/

.row {
  width: 100%;
  overflow: hidden;
  padding-left: $default-space;
  padding-right: $default-space;
}

/* =============================
 * container
 * =============================*/

.container {
  width: 940px;

  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-left: $default-space;
  padding-right: $default-space;
}

@media #{$breakpoint_sm} {
  .container {
    width: 600px;
  }
}

@media #{$breakpoint_xs} {
  .container {
    width: auto;
    max-width: 480px;
  }
}

/* =============================
 * links
 * =============================*/

a {
  color: $color-base;
  text-decoration: underline;

  &.btn {
    text-decoration: none;
  }
}

a:active, a:hover {
  outline: 0;
}

/* =============================
 * image
 * =============================*/

img {
  border: 0;
}

.filled-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.-attch-fixed {
    background-attachment: fixed;
  }
}

/* =============================
 * hr
 * =============================*/

hr {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

/* =============================
 * footer
 * =============================*/

footer {
  background-color: $color-base;
  color: #fff;
  padding: ($default-space / 2) 0px;
  border-top: $default-space solid #fff;
}