
.navigation {
  float: right;

  & ul {
    margin: ($default-space * 1) ($default-space * 2);
    padding: 0;
  }

  & ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;

    & > ul {
      display: none;
      margin: 0;
      padding: 0;
      background-color: $color-sub;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      li {
        padding: 0 $default-space;
        width: 100%;
        text-align: center;

        &:first-child {
          padding: $default-space $default-space 0 $default-space;
        }
        &:last-child {
          padding: 0 $default-space $default-space $default-space;
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }

  & a {
    padding: ($default-space * 1) ($default-space * 3);
    display: block;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      padding: (($default-space * 1) - 0) ($default-space * 3) (($default-space * 1) - 2) ($default-space * 3);
      border-bottom: 2px solid $color-smooth-grey;
    }
  }
}

@media #{$breakpoint_xs} {
  .navigation {
    float: none;

    & ul li {
      width: 100%;
      text-align: center;

      & > ul {
        display: block;
        position: relative;
      }
    }

  }
}