
/* =============================
 * grid
 * =============================*/

$grid_columns: 12;
$grid_item_width: percentage(1 / $grid_columns);

/* =============================
 * breakpoints
 * =============================*/

$breakpoint_sm: "all and (max-width: 1024px)";
$breakpoint_xs: "all and (max-width: 640px)";

/* =============================
 * space
 * =============================*/

$default-space: 10px;
$default-element-weight: 10px;

/* =============================
 * font
 * =============================*/

$font-family-base: sans-serif;
$font-size-base: 14px;
$line-height-base: 1.45;

/* =============================
 * colors
 * =============================*/

$color-base: #3a3a3a;
$color-sub: #fff;
$color-smooth-grey: #ddd;



